*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{

    background:
        linear-gradient(
            180deg,
            #000000 0%,
            #090909 35%,
            #180000 70%,
            #2a0000 100%
        );

    color: #f5f5f5;

    min-height: 100vh;

    padding: 40px;

    overflow-x: hidden;

    line-height: 1.7;
}
.container{

    width: 90%;

    max-width: 1200px;

    margin: auto;

    animation: fadeIn 0.8s ease;
}
.hero{

    position: relative;

    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 50px;

    flex-wrap: wrap;

    margin-bottom: 60px;
}

.hero::after{

    content: "🕷";

    position: absolute;

    top: -10px;

    right: 20px;

    font-size: 1.5rem;

    animation: floatSpider 3s ease-in-out infinite;
}
.hero-text{
    flex: 1;
}

.hero-text h1{

    font-size: 5rem;

    font-weight: bold;

    line-height: 1;

    color: #d9d9d9;

    text-transform: uppercase;

    letter-spacing: 3px;

    text-shadow:
        0 0 12px rgba(255,255,255,0.15);

    transition: 0.3s ease;
}
.hero-text h1 span{

    display: block;

    color: #c40000;

    font-size: 4rem;
}
.hero-text h1:hover{

    animation: spideyWiggle 0.5s ease;
}
.hero-text p{

    margin-top: 15px;

    color: #c9c9c9;

    max-width: 600px;
}
nav{

    margin-bottom: 40px;
}

nav ul{

    display: flex;

    gap: 40px;

    list-style: none;
}

nav a{

    color: #d9d9d9;

    text-decoration: none;

    font-size: 1rem;

    letter-spacing: 1px;

    position: relative;

    transition: 0.3s ease;
}

nav a:hover{

    color: #ff0000;
}

nav a::after{

    content: "";

    position: absolute;

    left: 0;

    bottom: -6px;

    width: 0%;

    height: 2px;

    background: #ff0000;

    transition: 0.3s ease;
}

nav a:hover::after{
    width: 100%;
}
.hero-image img{

    width: 360px;

    max-width: 100%;

    object-fit: contain;

    transition: 0.4s ease;

    filter:
        drop-shadow(0 0 25px rgba(255,0,0,0.2));
}

.hero-image img:hover{

    transform:
        scale(1.03)
        rotate(2deg);
}
.glass-card{

    position: relative;

    overflow: hidden;

    margin-top: 35px;

    padding: 35px;

    border-radius: 20px;

    background:
        linear-gradient(
            135deg,
            #111111,
            #220000
        );

    border:
        1px solid rgba(255,255,255,0.05);

    box-shadow:
        0 10px 35px rgba(0,0,0,0.55);

    transition: 0.4s ease;
}
